SECRET_KEY=django-insecure-change-this-in-production-use-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=smartfactory_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

ACCESS_TOKEN_LIFETIME_MINUTES=15
REFRESH_TOKEN_LIFETIME_DAYS=7

FRONTEND_URL=http://localhost:3000

# En développement : console (le mail s'affiche dans les logs)
# En production : SMTP (Gmail, etc.)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
# Pour Gmail : un "mot de passe d'application" 16 caractères (2FA requis), PAS ton mot de passe Gmail
EMAIL_HOST_USER=ton-adresse-gmail@gmail.com
EMAIL_HOST_PASSWORD=COLLE_ICI_LE_MOT_DE_PASSE_D_APPLICATION_16_CARACTERES
EMAIL_DISPLAY_NAME=SmartFactory Twin
DEFAULT_FROM_EMAIL=ton-adresse-gmail@gmail.com

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8080,http://127.0.0.1:8080

DEMO_ADMIN_EMAIL=admin@smartfactory.dz
DEMO_ADMIN_PASSWORD=Admin@2024!
